USE EDIDB;
CREATE INDEX IndexLEAR_ATH830IParentHashId ON LEAR_ATH830 (ParentHashId);
CREATE INDEX IndexLEAR_BFR830IParentHashId ON LEAR_BFR830 (ParentHashId);
CREATE INDEX IndexLEAR_FST830IParentHashId ON LEAR_FST830 (ParentHashId);
CREATE INDEX IndexLEAR_GS830IParentHashId ON LEAR_GS830 (ParentHashId);
CREATE INDEX IndexLEAR_ISA830IParentHashId ON LEAR_ISA830 (ParentHashId);
CREATE INDEX IndexLEAR_LIN830IParentHashId ON LEAR_LIN830 (ParentHashId);
CREATE INDEX IndexLEAR_N1830IParentHashId ON LEAR_N1830 (ParentHashId);
CREATE INDEX IndexLEAR_N4830IParentHashId ON LEAR_N4830 (ParentHashId);
CREATE INDEX IndexLEAR_NTE830IParentHashId ON LEAR_NTE830 (ParentHashId);
CREATE INDEX IndexLEAR_PRS830IParentHashId ON LEAR_PRS830 (ParentHashId);
CREATE INDEX IndexLEAR_REF830IParentHashId ON LEAR_REF830 (ParentHashId);
CREATE INDEX IndexLEAR_SDP830IParentHashId ON LEAR_SDP830 (ParentHashId);
CREATE INDEX IndexLEAR_SHP830IParentHashId ON LEAR_SHP830 (ParentHashId);
CREATE INDEX IndexLEAR_ST830IParentHashId ON LEAR_ST830 (ParentHashId);
CREATE INDEX IndexLEAR_UIT830IParentHashId ON LEAR_UIT830 (ParentHashId);
CREATE INDEX IndexLEAR_BSN856IParentHashId ON LEAR_BSN856 (ParentHashId);
CREATE INDEX IndexLEAR_CLD856IParentHashId ON LEAR_CLD856 (ParentHashId);
CREATE INDEX IndexLEAR_CTT856IParentHashId ON LEAR_CTT856 (ParentHashId);
CREATE INDEX IndexLEAR_DTM856IParentHashId ON LEAR_DTM856 (ParentHashId);
CREATE INDEX IndexLEAR_ETD856IParentHashId ON LEAR_ETD856 (ParentHashId);
CREATE INDEX IndexLEAR_GS856IParentHashId ON LEAR_GS856 (ParentHashId);
CREATE INDEX IndexLEAR_HLOL856IParentHashId ON LEAR_HLOL856 (ParentHashId);
CREATE INDEX IndexLEAR_HLSL856IParentHashId ON LEAR_HLSL856 (ParentHashId);
CREATE INDEX IndexLEAR_ISA856IParentHashId ON LEAR_ISA856 (ParentHashId);
CREATE INDEX IndexLEAR_LIN856IParentHashId ON LEAR_LIN856 (ParentHashId);
CREATE INDEX IndexLEAR_MEA856IParentHashId ON LEAR_MEA856 (ParentHashId);
CREATE INDEX IndexLEAR_N1856IParentHashId ON LEAR_N1856 (ParentHashId);
CREATE INDEX IndexLEAR_SN1856IParentHashId ON LEAR_SN1856 (ParentHashId);
CREATE INDEX IndexLEAR_TD1856IParentHashId ON LEAR_TD1856 (ParentHashId);
CREATE INDEX IndexLEAR_TD3856IParentHashId ON LEAR_TD3856 (ParentHashId);
CREATE INDEX IndexLEAR_TD5856IParentHashId ON LEAR_TD5856 (ParentHashId);
CREATE INDEX IndexLEAR_PRF856IParentHashId ON LEAR_PRF856 (ParentHashId);
CREATE INDEX IndexLEAR_ST856IParentHashId ON LEAR_ST856 (ParentHashId);
CREATE INDEX IndexLEAR_REF856IParentHashId ON LEAR_REF856 (ParentHashId);
CREATE INDEX IndexPaylessProdPrioriDetIdF ON PAYLESS_ProdPrioriDet (IdPAYLESS_ProdPrioriM);
CREATE INDEX IndexPaylessProdPrioriDetIdF ON PAYLESS_ProdPrioriDet (IdPAYLESS_ProdPrioriM);
CREATE INDEX IndexPedidosDetExternosPedidoId ON PedidosDetExternos (PedidoId);