@using ComModels
@{
    ViewData["Title"] = "Carga de planilla de productos";
    Layout = "_Layout";
}
<div id="mainDiv">
    <div class="container">
        <div class="card-deck cardMain">
            <div class="card box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Carga de planilla de productos&nbsp;<img class="imgHeaderHelp" src="~/images/help.png" title="Pantalla utilizada para cargar el excel inicial de productos a enviar" alt="Pantalla utilizada para cargar el excel inicial de productos a enviar"></h4>
                </div>
                <div class="card-body">
                    <form id="formSearch">
                        <div class="container div856Search">
                            <div class="row">
                                <div class="col-sm">
                                    <label for="dtpPeriodoBuscar">Periodo</label>
                                    <input class="form-control datepicker" data-date-format="dd/mm/yyyy" id="dtpPeriodoBuscar" placeholder="dd/mm/yyyy" maxlength="10" />
                                </div>                                
                            </div>
                            <div class="row margin5">
                                <div class="col-sm">
                                    <button id="btnFiltrar" class="btn btn-primary" type="button">
                                        &nbsp;&nbsp;&nbsp;Buscar&nbsp;&nbsp;&nbsp;
                                        <div id="divSpinFiltrar" class="spinner-border spinner-border-sm text-danger" style="display: none" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </button>
                                    <button id="btnLimpiar" class="btn btn-primary" type="button">
                                        &nbsp;&nbsp;&nbsp;Limpiar&nbsp;&nbsp;&nbsp;
                                        <div id="divSpinLimpiar" class="spinner-border spinner-border-sm text-danger" style="display: none" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </button>
                                    <button id="btnNewUpload" class="btn btn-primary" type="button">Cargar archivo Excel</button>
                                    <button id="btnUploadResume" class="btn btn-primary" type="button">Ver consolidado</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                    <br />
                    <div id="gridExcelFile" style="min-height: 460px; width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_PopNewProdUpload")
<script>
    var ModalPopPeticionDet = null;
    var domtblReportes = null;
    var domtblPeticionDet = null;
    var mainGrid = null;
    var HashId = '';
    var foo = function () {
    };
    $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results == null) {
            return null;
        }
        return decodeURI(results[1]) || 0;
    }
    function refreshGrid(auto) {
        w2ui.grid.autoLoad = auto;
        w2ui.grid.skip(0);
    }
    function crearGrid() {
        var config = {
            grid: {
                name: 'gridExcelFile',
                selectType: 'cell',
                bResponsive: true,
                bMobile: window.mobileAndTabletcheck(),
                url: "@this.Url.Action("GetPaylessProdPrioriAdmin", "Grids")?dtpPeriodoBuscar=" + $('#dtpPeriodoBuscar').val(),
                show: {
                    footer: true,
                    toolbar: true,
                    expandColumn: window.mobileAndTabletcheck()                    
                },
                searches: [
                    { field: "oid", caption: "oid", type: 'text' },
                    { field: "barcode", caption: "Cod. caja", type: 'text' },
                    { field: "estado", caption: "estado", type: 'text' },
                    { field: "pri", caption: "pri", type: 'text' },
                    { field: "poolP", caption: "poolP", type: 'text' },
                    { field: "producto", caption: "Lote", type: 'text' },
                    { field: "talla", caption: "talla", type: 'text' },
                    { field: "lote", caption: "lote", type: 'text' },
                    { field: "categoria", caption: "Genero", type: 'text' },
                    { field: "departamento", caption: "departamento", type: 'text' },
                    { field: "cp", caption: "cp", type: 'text' },
                    { field: "pickeada", caption: "pickeada", type: 'text' },
                    { field: "etiquetada", caption: "etiquetada", type: 'text' },
                    { field: "preinspeccion", caption: "preinspeccion", type: 'text' },
                    { field: "cargada", caption: "cargada", type: 'text' },
                    { field: "m3", caption: "m3", type: 'text' },
                    { field: "peso", caption: "peso", type: 'text' }
                ],
                colShowResponsive: [
                    { field: 'barcode' }
                ],
                columns: [
                    { field: "id", caption: "id", sortable: true, hidden: true },
                    { field: "oid", caption: "oid", sortable: true },
                    { field: "barcode", caption: "Cod. caja", sortable: true },
                    { field: "estado", caption: "estado", sortable: true },
                    { field: "pri", caption: "pri", sortable: true },
                    { field: "poolP", caption: "poolP", sortable: true },
                    { field: "producto", caption: "Lote", sortable: true },
                    { field: "talla", caption: "Talla", sortable: true },
                    { field: "lote", caption: "Estilo", sortable: true },
                    { field: "categoria", caption: "Genero", sortable: true },
                    { field: "departamento", caption: "departamento", sortable: true },
                    { field: "cp", caption: "cp", sortable: true },
                    { field: "pickeada", caption: "pickeada", sortable: true },
                    { field: "etiquetada", caption: "etiquetada", sortable: true },
                    { field: "preinspeccion", caption: "preinspeccion", sortable: true },
                    { field: "cargada", caption: "cargada", sortable: true },
                    { field: "m3", caption: "m3", sortable: true },
                    { field: "peso", caption: "peso", sortable: true }
                ]
            }
        };
        mainGrid = $('#gridExcelFile').w2grid(config.grid);
    }    
    $(document).ready(function () {        
        $('#dtpPeriodoBuscar').datepicker();
        $('.imgHeaderHelp').tooltip();
        crearGrid();
        $('#btnNewUpload').on('click', function (Event) {
            $('#modalPopNewProdUpload').modal();
        });
        $('#btnFiltrar').on("click", function (Event) {            
            if ($('#dtpPeriodoBuscar').val() == '') {
                menErrorEdi('El periodo es necesario para una búsqueda', 'Error');
                return;
            }
            $('#divSpinFiltrar').show();
            mainGrid.reload2("@this.Url.Action("GetPaylessProdPrioriAdmin", "Grids")?dtpPeriodoBuscar=" + $('#dtpPeriodoBuscar').val());
        });
        $('#btnLimpiar').on("click", function (Event) {
            $('#divSpinFiltrar').hide();
            $('#dtpPeriodoBuscar').val('');
            mainGrid.reload2("@this.Url.Action("GetPaylessProdPrioriAdmin", "Grids")?dtpPeriodoBuscar=" + $('#dtpPeriodoBuscar').val());
        });
        $('#btnUploadResume').on('click', function (Event) {
            window.location.href = '@this.Url.Action("CargaProdPriori")';
        });
        if (window.mobileAndTabletcheck()) {
            $('.div856Search').css({ "max-width": "unset" });
            $('#dtpPeriodoBuscar').css({ "width": "100%" });
            $('.btn').css({ "margin-bottom": "10px" });
            $('.btn').addClass('btn-block');
        }
    });
</script>
