@using ComModels
@{
    ViewData["Title"] = "Inventario";
    Layout = "_LayoutExtern";
}

<div class="container">
    <div class="card-deck cardMain">
        <div class="card box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Inventario</h4>
            </div>
            <div class="card-body box-shadow">
                <br />
                <div>
                    <b>Cliente: </b>@ViewBag.ClientName
                </div>
                <button class="btn btn-primary" id="btnNewDis" data-togle="tooltip" data-html="true" title="Seleccione los productos a pedir y acá click acá para solicitarlos">Enviar pedido</button>
                <form id="formReportes" accept-charset="UTF-8" method="post">
                    <table id="tblReportes" class="table table-striped table-bordered nowrap table-hover display tblReportes" cellspacing="0" role="grid">
                        <thead>
                            <tr>
                                <th>CodProducto GLC</th>
                                <th>Producto</th>
                                <th>Existencia</th>
                                <th>Cantidad a pedir</th>
                                <th>Unidad de medida</th>
                            </tr>
                        </thead>
                    </table>
                    <br />
                    <br />
                    <br />
                </form>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_PopNewDis")
<script>
    var ModalPopNewDis = null;
    var domtblReportes = null;
    var arrayProductos = [];
    var HashId = '';
    var foo = function () {
    };
    $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results == null) {
            return null;
        }
        return decodeURI(results[1]) || 0;
    }
    function fillTblReportes() {
        domtblReportes = $("#tblReportes").DataTable({
            select: true,
            responsive: window.mobileAndTabletcheck(),
            destroy: true,
            info: false,
            "scrollX": true,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "lengthMenu": [[25, 35, 50, 60], [25, 35, 50, 60]],
            "language":
            {
                "processing": "<div class='divAjax'>Obteniendo datos<br /><img style='width:50px; height:50px;' src='/images/ajax.gif' /></div>",
                "decimal": ".",
                "thousands": ",",
                "emptyTable": "No hay información"
            },
            "ajax": {
                "url": "@this.Url.Action("GetInventory")",
                "type": "POST",
                "datatype": "json",
                "dataSrc": function (json) {
                    //if (json.errorMessage != '') {
                    //    menErrorEdi(json.errorMessage);
                    //    return null;
                    //}
                    json.data.forEach(pr => {
                        var existe = false;
                        for (var j = 0; j < arrayProductos.length; j++) {
                            if (arrayProductos[j].codProducto == pr.codProducto.replace(/ /g, 'º')) {
                                existe = true;                                
                            }
                        }
                        if (!existe) {
                            arrayProductos.push({
                                codProducto: pr.codProducto.replace(/ /g, 'º'),
                                producto: pr.producto,
                                existencia: pr.existencia,
                                cantPedir: 0
                            });
                        }
                    });                    
                    return json.data;
                }
            },
            "order": [[0, "asc"]],
            "columns": [                
                { "data": "codProducto", "name": "CodProducto", "autoWidth": true, "defaultContent": "" },
                { "data": "producto", "name": "Producto", "autoWidth": true, "defaultContent": "" },
                { "data": "existencia", "name": "Existencia", "autoWidth": true, "defaultContent": "" },
                {
                    //data: "0",
                    render: function (data, type, row) {
                        if (type === 'display') {                            
                            var cant = 0;
                            for (var j = 0; j < arrayProductos.length; j++) {
                                if (arrayProductos[j].codProducto == row.codProducto.replace(/ /g, 'º')) {
                                    cant = arrayProductos[j].cantPedir;
                                }
                            }
                            return '<input id="TxtProducto' + row.codProducto.replace(/ /g, 'º') + '" name="TxtProducto' + row.codProducto.replace(/ /g, 'º') + '" type="textbox" class="editor-active form-control txtCantPedir" value="' + cant + '" onkeypress="return changeProdPedido(isNumberKey(event), ' + "'" + row.codProducto.replace(/ /g, 'º') + "'" + ', this)">';
                        }                        
                        return '';
                    },
                    className: "dt-body-center"
                },
                { "data": "unidadDeMedida", "name": "UnidadDeMedida", "autoWidth": true, "defaultContent": "" }                
            ]
        });
    }
    $(document).ready(function () {
        fillTblReportes();
        $('#tblReportes tbody').on('click', 'tr', function (e) {
            e.preventDefault();
            domtblReportes.$('tr.selected').removeClass('selected');
            var chk = $(this).closest("tr").find('td:eq(4)').find('input')[0];
            var idChk = $(chk).prop('id');
            if (idChk == null) return;
            var chkState = $(chk).prop('checked');
            $("input[name^='" + idChk + "']").each(function (Ind, Ele) {
                $(Ele).prop('checked', !chkState);
                if (chkState)
                    $(Ele).closest("tr").removeClass('selected');
                else {
                    $(Ele).closest("tr").addClass('selected');                    
                }
            });
            return false;
            //}
        });
        $('#btnNewDis').on('click', function (e) {
            $('#exampleModalLabel').html('Enviar pedido');
            ModalPopNewDis = $('#modalPopNewDis').modal();
            onInit();
        });        
    });
    function changeProdPedido(isValid, codProd, txtCant) {
        if (!isValid) return isValid;
        setTimeout(function () {
            for (var j = 0; j < arrayProductos.length; j++) {
                if (arrayProductos[j].codProducto == codProd) {
                    arrayProductos[j].cantPedir = $(txtCant).val();
                }
            }            
        }, 366);
        return isValid;
    }
</script>