@using ComModels
@{
    ViewData["Title"] = "Reportes";
    Layout = "_Layout";
}
<div id="mainDiv">
    <div class="container">
        <div class="card-deck cardMain">
            <div class="card box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Reportes semanales</h4>
                </div>
                <div class="card-body">                    
                    <div id="gridReportes" style="min-height: 460px; width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>    
    var gridReportes = null;
    var HashId = '';
    var foo = function () {
    };
    $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results == null) {
            return null;
        }
        return decodeURI(results[1]) || 0;
    }
    function refreshGrid(auto) {
        w2ui.grid.autoLoad = auto;
        w2ui.grid.skip(0);
    }
    function crearGrid() {
        var config = {
            grid: {
                name: 'gridReportes',
                selectType: 'cell',
                bResponsive: true,
                bMobile: window.mobileAndTabletcheck(),
                url: '@this.Url.Action("GetPaylessReportes", "Grids")',
                show: {
                    footer: true,
                    toolbar: true,
                    expandColumn: window.mobileAndTabletcheck()
                },
                searches: [
                    { field: "periodo", caption: "Periodo", type: 'text' },
                    { field: "fechaGen", caption: "Fecha generación", type: 'text' }                    
                ],
                colShowResponsive: [
                    { field: 'periodo' },
                    { field: 'fechaGen' }
                ],
                columns: [
                    { field: "id", caption: "id", sortable: true, hidden: true },
                    { field: "periodo", caption: "Periodo", sortable: true },
                    { field: "fechaGen", caption: "Fecha generación", sortable: true },
                    {
                        field: "tipo", caption: "", sortable: true, render: function (record) {                            
                            return '<div class="w2ui-buttons"><a href="javascript:descargarRep(' + record.id + ')">Descargar</a>';
                        }
                    }
                    //{ field: "tipo", caption: "Tipo", sortable: true }
                ]
            }
        };
        gridReportes = $('#gridReportes').w2grid(config.grid);
        arrayGrids['gridExcelFile'] = gridReportes;
    }
    function descargarRep(idReporte) {
        console.log(idReporte);
    }
    $(document).ready(function () {        
        $('.imgHeaderHelp').tooltip();
        crearGrid();
    });
</script>
