@{
    ViewData["Title"] = "Encuesta de entrega";
    Layout = "_Layout";
}
<div id="mainDiv">
    <div class="container">
        <div class="card-deck cardMain">
            <div class="card box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Encuesta de entrega&nbsp;<img class="imgHeaderHelp" src="~/images/help.png" title="Encuesta de entrega" alt="Encuesta de entrega"></h4>
                </div>
                <div class="card-body">                    
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <label for="cboPedido">Seleccione el número de pedido</label>
                                <div id="divSpincboPedido" class="spinner-border spinner-border-sm text-danger" style="display: none" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <select class="form-control" id="cboPedido" name="cboPedido"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="preg1">¿Se cumple la cantidad de cajas pedidas?</label>
                                <select class="form-control" id="preg1" name="preg1">
                                    <option value="1">Si</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="preg2">¿Se cumple la cantidad de unidades pedidas?</label>
                                <select class="form-control" id="preg2" name="preg2">
                                    <option value="1">Si</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="preg2">¿Se cumple el día de entrega?</label>
                                <select class="form-control" id="preg2" name="preg2">
                                    <option value="1">Si</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="preg2">¿Se cumple la hora de entrega?</label>
                                <select class="form-control" id="preg2" name="preg2">
                                    <option value="1">Si</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="preg2">¿Cantidad de aux. descargue?</label>
                                <select class="form-control" id="preg2" name="preg2">
                                    <option value="1">Si</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="preg2">¿Cantidad de aux. descargue?</label>
                                <select class="form-control" id="preg2" name="preg2">
                                    <option value="1">Si</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="row margin5">
                            <div class="col-sm">
                                <button class="btn btn-primary noShow" type="button" onclick="window.location.href = window.location.href;">
                                    &nbsp;&nbsp;&nbsp;Anterior&nbsp;&nbsp;&nbsp;
                                </button>
                                <button class="btn btn-primary" type="button" id="btnSig">
                                    &nbsp;&nbsp;&nbsp;Siguiente&nbsp;&nbsp;&nbsp;
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function afterFillCombobox() { }
    $(document).ready(function () {
        $('.imgHeaderHelp').tooltip();
        fillCombobox('#divSpincboPedido', '@this.Url.Action("GetPaylessEncuestaCboPedidos", "HomeExtern")', '#cboPedido', 'v', 't', '');
    });
</script>
