@using ComModels
@{
    ViewData["Title"] = "Reportes";
    Layout = "_Layout";
}
<div id="mainDiv">
    <div class="container">
        <div class="card-deck cardMain">
            <div class="card box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Reportes</h4>
                </div>
                <div class="card-body">                    
                    <div id="gridReportes" style="min-height: 460px; width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_PopNewProdUpload")
<script>
    var ModalPopPeticionDet = null;
    var domtblReportes = null;
    var domtblPeticionDet = null;
    var mainGrid = null;
    var HashId = '';
    var foo = function () {
    };
    $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results == null) {
            return null;
        }
        return decodeURI(results[1]) || 0;
    }
    function refreshGrid(auto) {
        w2ui.grid.autoLoad = auto;
        w2ui.grid.skip(0);
    }
    function crearGrid() {
        var config = {
            grid: {
                name: 'gridExcelFile',
                selectType: 'cell',
                bResponsive: true,
                bMobile: window.mobileAndTabletcheck(),
                url: "@this.Url.Action("GetPaylessProdPrioriAdmin", "Grids")?dtpPeriodoBuscar=" + $('#dtpPeriodoBuscar').val(),
                show: {
                    footer: true,
                    toolbar: true,
                    expandColumn: window.mobileAndTabletcheck()
                },
                searches: [
                    { field: "oid", caption: "oid", type: 'text' },
                    { field: "barcode", caption: "Cod. caja", type: 'text' },
                    { field: "estado", caption: "estado", type: 'text' },
                    { field: "pri", caption: "pri", type: 'text' },
                    { field: "poolP", caption: "poolP", type: 'text' },
                    { field: "producto", caption: "Lote", type: 'text' },
                    { field: "talla", caption: "talla", type: 'text' },
                    { field: "lote", caption: "Estilo", type: 'text' },
                    { field: "categoria", caption: "Genero", type: 'text' },
                    { field: "departamento", caption: "departamento", type: 'text' },
                    { field: "cp", caption: "cp", type: 'text' }
                ],
                colShowResponsive: [
                    { field: 'barcode' }
                ],
                columns: [
                    { field: "id", caption: "id", sortable: true, hidden: true },
                    { field: "oid", caption: "oid", sortable: true },
                    { field: "barcode", caption: "Cod. caja", sortable: true },
                    { field: "estado", caption: "estado", sortable: true },
                    { field: "pri", caption: "pri", sortable: true },
                    { field: "poolP", caption: "poolP", sortable: true },
                    { field: "producto", caption: "Lote", sortable: true },
                    { field: "talla", caption: "Talla", sortable: true },
                    { field: "lote", caption: "Estilo", sortable: true },
                    { field: "categoria", caption: "Genero", sortable: true },
                    { field: "departamento", caption: "departamento", sortable: true },
                    { field: "cp", caption: "cp", sortable: true },
                    { field: "pickeada", caption: "pickeada", sortable: true },
                    { field: "etiquetada", caption: "etiquetada", sortable: true },
                    { field: "preinspeccion", caption: "preinspeccion", sortable: true },
                    { field: "cargada", caption: "cargada", sortable: true },
                    { field: "m3", caption: "m3", sortable: true },
                    { field: "peso", caption: "peso", sortable: true }
                ]
            }
        };
        mainGrid = $('#gridExcelFile').w2grid(config.grid);
        arrayGrids['gridExcelFile'] = mainGrid;
    }
    $(document).ready(function () {
        $('#dtpPeriodoBuscar').datepicker();
        $('.imgHeaderHelp').tooltip();
        crearGrid();
        $('#btnNewUpload').on('click', function (Event) {
            $('#modalPopNewProdUpload').modal();
        });
        $('#btnFiltrar').on("click", function (Event) {
            if ($('#dtpPeriodoBuscar').val() == '') {
                menErrorEdi('El periodo es necesario para una búsqueda', 'Error');
                return;
            }
            $('#divSpinFiltrar').show();
            mainGrid.reload2("@this.Url.Action("GetPaylessProdPrioriAdmin", "Grids")?dtpPeriodoBuscar=" + $('#dtpPeriodoBuscar').val());
        });
        $('#btnLimpiar').on("click", function (Event) {
            $('#divSpinFiltrar').hide();
            $('#dtpPeriodoBuscar').val('');
            mainGrid.reload2("@this.Url.Action("GetPaylessProdPrioriAdmin", "Grids")?dtpPeriodoBuscar=" + $('#dtpPeriodoBuscar').val());
        });
        $('#btnUploadResume').on('click', function (Event) {
            window.location.href = '@this.Url.Action("CargaProdPriori")';
        });
        if (window.mobileAndTabletcheck()) {
            $('.div856Search').css({ "max-width": "unset" });
            $('#dtpPeriodoBuscar').css({ "width": "100%" });
            $('.btn').css({ "margin-bottom": "10px" });
            $('.btn').addClass('btn-block');
        }
    });
</script>
