@using ComModels
@{
    ViewData["Title"] = "Ordenes pendientes";
    Layout = "_Layout";
}
<div id="mainDiv">
    <div class="container">
        <div class="card-deck cardMain">
            <div class="card box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Ordenes pendientes</h4>
                </div>
                <div class="card-body">
                    <div id="gridOrdenes" style="min-height: 460px; width: 100%;"></div>                    
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_PopPeticionDet")
<script>
    var ModalPopPeticionDet = null;
    var domtblReportes = null;
    var domtblPeticionDet = null;
    var HashId = '';
    var gridOrdenes = null;
    var foo = function () {
    };
    $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results == null) {
            return null;
        }
        return decodeURI(results[1]) || 0;
    }
    function refreshGrid(auto) {
        w2ui.grid.autoLoad = auto;
        w2ui.grid.skip(0);
    }
    function crearGrid() {
        var config = {
            grid: {
                name: 'gridOrdenes',
                selectType: 'cell',
                bResponsive: true,
                bMobile: window.mobileAndTabletcheck(),
                url: '@this.Url.Action("GetPeticiones", "Grids")',
                show: {
                    footer: true,
                    toolbar: true,
                    expandColumn: window.mobileAndTabletcheck()                    
                },
                searches: [
                    { field: "id", caption: "Id orden", type: 'text' },
                    { field: "fechaCreacion", caption: "Fecha de creación", type: 'text' },
                    { field: "fechaPedido", caption: "Fecha y hora esperada", type: 'text' }
                ],
                colShowResponsive: [
                    { field: 'id' },
                    { field: 'fechaPedido' }
                ],
                columns: [
                    { field: "id", caption: "Id orden", sortable: true },
                    { field: "fechaCreacion", caption: "Fecha de creación", sortable: true },
                    { field: "fechaPedido", caption: "Fecha y hora esperada", sortable: true },                    
                    {
                        field: "idEstado", caption: "Estado", sortable: false, render: function (record) {
                            if (record.idEstado == 1) return '<span class="thisSpan" alt="' + record.id + '">Guardado</span>';
                            if (record.idEstado == 2) return '<span class="thisSpan" alt="' + record.id + '">Pendiente</span>';
                            if (record.idEstado == 3) return '<span class="thisSpan" alt="' + record.id + '">Despachado</span>';
                        }
                    },
                    {
                        field: "periodo", caption: "", sortable: true, render: function (record) {
                            return '<div class="w2ui-buttons"><a href="javascript:verDetalle(' + record.id + ')">Ver detalle</a></div>';
                        }
                    }
                ]
            }
        };
        gridOrdenes = $('#gridOrdenes').w2grid(config.grid);
        arrayGrids['gridOrdenes'] = gridOrdenes;
    }
    function verDetalle(pedidoId) {
        domtblPeticionDet = $("#tblPeticionDet").DataTable({
            select: true,
            responsive: window.mobileAndTabletcheck(),
            dom: 'Bfrtip',
            buttons: [
                'excelHtml5'
            ],
            destroy: true,
            info: false,
            "scrollX": false,
            "scrollY": true,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "lengthMenu": [[10, 25, 35, 50, 65], [10, 25, 35, 50, 65]],
            "language":
            {
                "processing": "<div class='divAjax'>Obteniendo datos<br /><img style='width:50px; height:50px;' src='/images/ajax.gif' /></div>",
                "decimal": ".",
                "thousands": ",",
                "emptyTable": "No hay información"
            },
            "ajax": {
                "url": "@this.Url.Action("GetPeticionDet")?PedidoId=" + pedidoId,
                "type": "POST",
                "datatype": "json",
                "dataSrc": function (json) {
                    return json.data;
                }
            },
            "order": [[0, "asc"]],
            "columns": [
                { "data": "codProducto", "name": "codProducto", "autoWidth": true, "defaultContent": "" },
                { "data": "cantPedir", "name": "cantPedir", "autoWidth": true, "defaultContent": "" },                
            ]
        });
    }
    $(document).ready(function () {
        crearGrid();        
        $('#tblReportes tbody').on('click', 'tr', function (Event) {            
            var idFrom = $($(this).closest("tr").find('.thisSpan')[0]).attr('alt');
            if ($(Event.currentTarget).prop('class').indexOf('parent') !== -1)
                return;            
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                domtblReportes.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
            $('#exampleModalLabel3').html('Detalle de orden');
            fillPeticionDet(idFrom);
            ModalPopPeticionDet = $('#modalPopPeticionDet').modal();
        });
    });
</script>
