@using ComModels
@{
    ViewData["Title"] = "Crud grupos y accesos";
    Layout = "_Layout";
}
<div id="mainDiv">
    <div class="container">
        <div class="card-deck cardMain">
            <div class="card box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Crud grupos y accesos</h4>
                </div>
                <div class="card-body">
                    <div id="gridGroupsAccesss" style="min-height: 460px; width: 100%;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var mainGrid = null;
    var foo = function () {
    };
    $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results == null) {
            return null;
        }
        return decodeURI(results[1]) || 0;
    }
    function refreshGrid(auto) {
        w2ui.grid.autoLoad = auto;
        w2ui.grid.skip(0);
    }
    function crearGrid() {
        var config = {
            grid: {
                name: 'gridGroupsAccesss',
                selectType: 'cell',
                bResponsive: true,
                bMobile: window.mobileAndTabletcheck(),
                url: "@this.Url.Action("GetGroupsAccesss", "Account")",
                show: {
                    footer: true,
                    toolbar: true,
                    expandColumn: window.mobileAndTabletcheck()
                },
                searches: [
                    { field: 'access', caption: 'Acceso', type: 'text' },
                    { field: 'group', caption: 'Grupo', type: 'text' },
                ],
                colShowResponsive: [
                    { field: 'descr' }
                ],
                columns: [
                    { field: "id", caption: "Id", sortable: true, hidden: false },
                    { field: "idIenetAccess", caption: "IdIenetAccess", sortable: true, hidden: false},
                    { field: "idIenetGroup", caption: "IdIenetGroup", sortable: true },
                    { field: "access", caption: "Acceso", sortable: true },
                    { field: "group", caption: "Grupo", sortable: true },
                    //Id = Ga.Id,
                    //IdIenetAccess = A.Id,
                    //IdIenetGroup = G.Id,
                    //Access = A.Descr,
                    //Group = G.Descr
                ]
            }
        };
        mainGrid = $('#gridGroupsAccesss').w2grid(config.grid);
        arrayGrids['gridGroupsAccesss'] = mainGrid;
    }
    $(document).ready(function () {
        crearGrid();
    });
</script>