@model Tuple<ComModels.LearAth830, IEnumerable<ComModels.EdiSegName>, IEnumerable<ComModels.LearCodes>>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="SegmentDataCol">
                <label>ResourceAuthCode:</label>
                @Html.CodeToStr("ATH.ResourceAuthCode", Model.Item1.ResourceAuthCode, Model.Item3)
            </div>
        </div>
        <div class="col-sm">
            <div class="SegmentDataCol">
                <label>StartDate:</label>
                @Html.StrToDate(1, Model.Item1.StartDate)
            </div>
        </div>
        <div class="col-sm">
            <div class="SegmentDataCol">
                <label>Quantity:</label>
                @Model.Item1.Quantity
            </div>
        </div>
        <div class="col-sm">
            <div class="SegmentDataCol">
                <label>EndDate:</label>
                @Html.StrToDate(1, Model.Item1.EndDate)                
            </div>
        </div>
    </div>
</div>