@model Tuple<ComModels.LearN1830, IEnumerable<ComModels.EdiSegName>, IEnumerable<ComModels.LearCodes>>
<div class="row">
    <div class="col-sm">
        <div class="SegmentDataCol">
            <label>OrganizationId:</label>
            @Html.CodeToStr("N1.OrganizationId", Model.Item1.OrganizationId, Model.Item3)
        </div>
    </div>
    <div class="col-sm">
        <div class="SegmentDataCol">
            <label>Name:</label>
            @Model.Item1.Name
        </div>
    </div>
    <div class="col-sm">
        <div class="SegmentDataCol">
            <label>IdCodeQualifier:</label>
            @Html.CodeToStr("N1.IdCodeQualifier", Model.Item1.IdCodeQualifier, Model.Item3)
        </div>
    </div>
    <div class="col-sm">
        <div class="SegmentDataCol">
            <label>IdCode:</label>
            @Model.Item1.IdCode
        </div>
    </div>
</div>

