@{
    ViewData["Title"] = "GLC Web";
    Layout = "_Layout";
}
<style>
    body {
        /*background-image: url('/images/fondo2.jpg');
        background-repeat: no-repeat;*/
        /*background-clip: padding-box;*/
        /*background-repeat: no-repeat;*/
        /*background-position-y: 100px;
        background-position-x: center;*/
        /*background-size: cover;*/
    }
</style>
<script>
    Push.create("Biendenido a GLC Web", {
    body: "Biendenido a GLC Web",
    icon: '/images/profile.png',
    timeout: 5000,
    onClick: function () {
        window.focus();
        this.close();
    }
});
</script>
<div class="container">    
    <div class="jumbotron mainJumbo indexJumbo">
        <h1 class="text-center"><b>Bienvenido al sistema GLC Web</b></h1>
        <div class="divLogo"><img class="imgLogo" src="~/images/logo4Trans.png" /></div>
    </div>
</div>