@model EdiViewer.Models.EdiViewerModel
@{
    ViewData["Title"] = "Home Page";
}
<div id="mainDiv">
    <div class="jumbotron">
        <div class="form-group">
            <div>
                <label for="ListEdiPure">Reportes</label>
                <div class="container-fluid">
                    <form id="formReportes">
                        <table id="tblReportes" class="table table-striped table-bordered nowrap table-hover display" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>HashId</th>
                                    <th>NombreArchivo</th>
                                    <th>FIngreso</th>
                                    <th>FProcesado</th>
                                    <th>Reprocesar</th>
                                </tr>
                            </thead>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var domtblReportes = null;
    var HashId = '';
    $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results == null) {
            return null;
        }
        return decodeURI(results[1]) || 0;
    }
    $(document).ready(function () {
        domtblReportes = $("#tblReportes").DataTable({
            select: true,            
            "processing": true, // for show progress bar  
            "serverSide": true, // for process server side  
            "filter": false, // this is for disable filter (search box)  
            "orderMulti": false, // for disable multiple column at once  
            "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
            "ajax": {
                "url": "@this.Url.Action("GetPureEdi")",
                "type": "POST",
                "datatype": "json"
            },            
            "columns": [
                { "data": "hashId", "name": "HashId", "autoWidth": true, "defaultContent": "" },
                { "data": "nombreArchivo", "name": "NombreArchivo", "autoWidth": true, "defaultContent": "" },
                { "data": "fingreso", "name": "FIngreso", "autoWidth": true, "defaultContent": "" },
                { "data": "fprocesado", "name": "FProcesado", "autoWidth": true, "defaultContent": "" },
                { "data": "reprocesar", "name": "Reprocesar", "autoWidth": true, "defaultContent": "" }                
            ]
        });
        $('#tblReportes tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                domtblReportes.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                //trigger update
                window.location.href = '@this.Url.Action("Index")?HashId=' + $(this).closest("tr").find('td:eq(0)').text();
            }
        });
        HashId = $.urlParam('HashId');
        if (HashId != null) {
            
        }
    });
</script>
