<div class="modal fade2" id="modalPopNewDis" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content modal-content-normal">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2"></h5>
            </div>
            <div class="modal-body">
                <div id="divMensajePop2">
                    <p>Por favor confirme los productos del pedido y la fecha del mismo</p>
                    <p>
                        <label class="label" for="dtp2">Fecha y hora esperada</label><br />
                        <input class="form-control datepicker" data-link-format="dd/mm/yyyy hh:ii" id="dtp2" maxlength="19" value="@(ViewBag.DateLastDis == null? string.Empty : ViewBag.DateLastDis)" />
                    </p>
                    <div class="container" id="divList">
                        <table id="tblPedidos" class="table table-striped table-bordered table-hover display" cellspacing="0" role="grid">
                            <thead>
                                <tr>
                                    <th>CodProducto</th>
                                    <th>Producto</th>
                                    <th>Cantidad a pedir</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container text-center">
                    <button type="button" class="btn btn-secondary" id="btnSaveDis">Guardar</button>
                    <button type="button" class="btn btn-success" id="btnSendDis">Enviar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var domtblPedidos = null;
    var arrayProductos2 = [];
    function SaveSendDis(actionUrl, op1) {
        if (arrayProductos.length == 0)
            return;
        if ($('#dtp2').val() == '') {
            //ModalPopNewDis.hide();
            menErrorEdi('La fecha está vacia', 'Error');
            return;
        }
        arrayProductos[0].dateProm = $('#dtp2').val();
        $.ajax({
            method: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "JSON",
            url: actionUrl,
            data: JSON.stringify(arrayProductos.filter(Pr => Pr.cantPedir != 0)),
            success: function (json) {
                if (json.codError != 0)
                    menErrorEdi(json.mensaje, 'Error');
                else {
                    if (op1 == 0)
                        menErrorEdi('Se ha guardado el pedido para ser modificado después, el pedido no ha sido enviado a GLC.', 'Mensaje de aplicativo');
                    if (op1 == 1) {
                        //Redirect a lista de pedidos
                        location.href = '@this.Url.Action("Peticiones")';
                    }
                }
            },
            error: function (json) {
                menErrorEdi(json.mensaje, 'Error interno del visor');
            }
        });
    }
    $('#btnSaveDis').on('click', function () {
        SaveSendDis("@this.Url.Action("SetPedidoExterno")", 0);
    });
    $('#btnSendDis').on('click', function () {
        SaveSendDis("@this.Url.Action("SendPedidoExterno")", 1);
    });
    function onInit() {
        var contentListProd = '';
        arrayProductos2 = [];
        for (var j = 0; j < arrayProductos.length; j++) {
            arrayProductos2.push({
                codProducto: arrayProductos[j].codProducto.replace(/\^/g, ' '),
                producto: arrayProductos[j].producto,
                existencia: arrayProductos[j].existencia,
                cantPedir: arrayProductos[j].cantPedir,
                dateProm: arrayProductos[j].dateProm
            });
        }
        domtblPedidos = $("#tblPedidos").DataTable({
            select: true,
            responsive: window.mobileAndTabletcheck(),
            dom: 'Bfrtip',
            buttons: [
                'excelHtml5'
            ],
            destroy: true,
            info: false,
            "scrollX": true,
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "lengthMenu": [[25, 35, 50, 60], [25, 35, 50, 60]],
            "language":
            {
                "processing": "<div class='divAjax'>Obteniendo datos<br /><img style='width:50px; height:50px;' src='/images/ajax.gif' /></div>",
                "decimal": ".",
                "thousands": ",",
                "emptyTable": "No hay información"
            },
            data: arrayProductos2.filter(P => P.cantPedir != 0),
            "order": [[0, "asc"]],
            "columns": [
                { "data": "codProducto", "name": "Cod Producto", "autoWidth": true, "defaultContent": "" },
                { "data": "producto", "name": "Producto", "autoWidth": true, "defaultContent": "" },
                { "data": "cantPedir", "name": "Cant pedir", "autoWidth": true, "defaultContent": "" }
            ]
        });
        $('#dtp2').datetimepicker({ format: 'dd/mm/yyyy hh:ii' });
    }
</script>