body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgb(232, 216, 234);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#mainDiv{
    padding-top: 15px;
    margin: auto;    
}

.jumbotron {
    border-top: 1px solid rgb(212, 206, 214);
    border-left: 1px solid rgb(212, 206, 214);
    border-radius: 20px !important;
    background: linear-gradient(#eee, rgb(232, 232, 252)) !important;
}

#tblReportes{
    width: 100%;
}

#tblReportes thead{
    background: rgb(204, 156, 183);
}

.container {
    width: 100% !important;
    margin-right: auto;
    margin-left: auto;
}
